<div
  class="sidebar fixed max-h-screen top-16 lg:left-0 p-2 w-[240px] overflow-y-auto text-center bg-[#171717] rounded-sm h-[900px]"
>
  <div class="">
    <div
      class="p-2 mt-3 flex items-center rounded-md px-4 duration-300 text-white"
    >
      <i class="bi bi-chat-left-text-fill"></i>
      <div class="flex justify-between w-full items-center">
        <img src="<%= img %>" class="w-8 hover:rotate-12 z-50" alt="" />
        <span class="text-[15px] -ml-20 text-[#FFFFFF]">DASAR</span>
        <span class="text-sm rotate-180" id="arrow">
          <i class="bi bi-chevron-down"></i>
        </span>
      </div>
    </div>

    <div
      class="text-left text-sm font-thin mt-2 w-4/5 mx-auto text-white ml-0"
      id="submenu"
    >
      <a href="#">
        <h1
          class="cursor-pointer p-2 hover:bg-[#154966] rounded-md mt-1 text-blue-400 bg-[#201D1D]"
        >
          #1 <%= subMenuDasar1 %>
        </h1>
      </a>
      <a href="MarginDart">
        <h1 class="cursor-pointer p-2 hover:bg-[#154966] rounded-md mt-1">
          #2 <%= subMenuDasar2 %>
        </h1>
      </a>
      <a href="MarginLoL">
        <h1 class="cursor-pointer p-2 hover:bg-[#154966] rounded-md mt-1">
          #3 <%= subMenuDasar3 %>
        </h1>
      </a>
      <a href="upload">
        <h1 class="cursor-pointer py-1 hover:bg-[#154966] rounded-md mt-1 text-center text-lg">+</h1>
      </a>
    </div>
  </div>

  <div class="">
    <div
      class="p-2 mt-3 flex items-center rounded-md px-4 duration-300 cursor-pointer text-white"
    >
      <i class="bi bi-chat-left-text-fill"></i>
      <div class="flex justify-between w-full items-center">
        <img src="<%= img %>" class="w-8 hover:rotate-12 z-50" alt="" />
        <span class="text-[15px] -ml-20 text-[#FFFFFF]">MAHIR</span>

        <span class="text-sm rotate-180" id="arrow">
          <i class="bi bi-chevron-down"></i>
        </span>
      </div>
    </div>

    <div
      class="text-left text-sm font-thin mt-2 w-4/5 mx-auto text-white ml-0"
      id="submenu"
    >
      <a href="ebook.html">
        <h1 class="cursor-pointer p-2 hover:bg-[#154966] rounded-md mt-1">
          #1 <%= subMenuMahir1 %>
        </h1>
      </a>
      <h1 class="cursor-pointer p-2 hover:bg-[#154966] rounded-md mt-1">
        #2 <%= subMenuMahir2 %>
      </h1>
      <h1 class="cursor-pointer p-2 hover:bg-[#154966] rounded-md mt-1">
        #3 <%= subMenuMahir3 %>
      </h1>
    </div>
  </div>
</div>
