<div
  class="sidebar fixed max-h-screen top-16 lg:left-0 p-2 w-[240px] overflow-y-auto text-center bg-[#171717] rounded-sm h-[900px]"
>
  <div class="">
    <div
      class="p-2 mt-3 flex items-center rounded-md px-4 duration-300 text-white"
    >
      <i class="bi bi-chat-left-text-fill"></i>
      <div class="flex justify-between w-full items-center">
        <img src="/logo/<%= source %>.png" class="w-8 hover:rotate-12 z-50" alt="" />
        <span class="text-[15px] -ml-20 text-[#FFFFFF]"><%= source %></span>
        <span class="text-sm rotate-180" id="arrow">
          <i class="bi bi-chevron-down"></i>
        </span>
      </div>
    </div>

    <div
      class="text-left text-sm font-thin mt-2 w-[220px] mx-auto text-white ml-0"
      id="submenu"
    >
      <a href="/upload">
        <h1
          class="cursor-pointer text-center text-lg py-1 hover:bg-[#154966] rounded-md mt-1 text-blue-400 bg-[#201D1D]"
        >
          + 
        </h1>
      </a>
<% artikels.forEach((artikel, i) => { i++ %>
  <% if (artikel !== null) { %>
    <a href="/<%= source %>/<%= artikel.judul %>">
      <h1
        class="cursor-pointer text-lg py-1 hover:bg-[#154966] rounded-md mt-1 bg-[#201D1D] text-left pl-2 text-[#d9d9d9]" 
      >
        <%= i++ %>. <%= artikel.judul %>
      </h1>
    </a>
<% } %>
<% }) %>
      <div></div>
    </div>
  </div>
</div>
